body{
    background-color: #07293c;
}


#boxtab{
    border: 1px solid black;
    height: 900px;
    width: 1200px;
    border-radius: 70px;
    margin: 50px;
    margin-left: 130px;
    display: flex;
    flex-direction: row;

}
#leftbox{
    padding-left: 150px;
    padding-top: 100px;    
    background-color: #169799;
    color: #07293c;

}
input, select{
    margin-left: 100px;
    background-color: #de7f0bc6;
    color: #07293c;
}
#sidetitle{
    text-align: center;
    padding-top: 200px;
    
}

#clgdetails{
    border: 1px solid black;
    height: 600px;
    width: 600px;
    border-radius: 20px;
    /* visibility: hidden; */
    
}


input[type=checkbox]:focus #clgdetails{
    display: block;
    visibility: visible;


}


#ani{
    display: flex;
    flex-direction: row;
    padding-left: 145px ;
    padding-top: 50px;



}
#orange, #lite{
    position: absolute;
    transform: matrix(1, 0.5, 0, 0.5, 0, 0);
    border-radius: 7px;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-name: top;


    
}
#dark{
    position: absolute;
    transform: matrix(1, 0.5, 0, 0.5, 0, 0);
    border-radius: 7px;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-name: middle;
}
#title{
    
    transform: scale(0px, 0px);
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-delay: 0.8s;
    animation-name:mike;
    opacity: 0;
}